<main class="row mb-5 h-90">
	<div class="col-12 flex-center">
		<form method="POST" action="<%= artistsRecommendPath %>">
			<%= csrf() %>

			<div class="form-group">
				<label for="artist"></label>
				<input
					type="text"
					name="artist_name"
					id="artist"
					class="form-control-lg"
					placeholder="Artist"
					autocomplete="off"
					autofocus
					required
				/>
			</div>
			<div class="row">
				<div class="col-12 flex-center">
					<button type="submit" class="btn btn-primary mx-5 mt-3">
						<%= t("recommend") %>
					</button>
				</div>

				<%= partial("back.html") %>
			</div>
		</form>
	</div>
</main>
