<main class="row mb-5 h-90">
	<div class="col-12 text-center h-60 v-center">
		<h1 class="title"><%= t("recommendation") %>:</h1>
		<h2 class="subtitle mb-5"><%= artistName %></h2>
	</div>

	<div class="col-12 text-center h-30">
		<div class="row">
			<div class="col-12">
				<a
					href="<%= artistSpotifyURL %>"
					alt="Go to Spotify"
					class="btn btn-primary"
					role="button"
					aria-disabled="true"
					target="_blank"
					><%= t("check_spotify") %></a
				>
			</div>

			<%= partial("back.html") %>
		</div>
	</div>
</main>
