<div class="page-header">
  <h1>Artist#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo(artistsPath(), {class: "btn btn-info"}) { %>
      Back to all Artists
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(editArtistPath({ artist_id: artist.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(artistPath({ artist_id: artist.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
</ul>

<p>
  <strong>ArtistName</strong>: <%= artist.ArtistName %>
</p>
<p>
  <strong>ArtistID</strong>: <%= artist.ArtistID %>
</p>
<p>
  <strong>SpotifyURL</strong>: <%= artist.SpotifyURL %>
</p>
<p>
  <strong>TimesRecommended</strong>: <%= artist.TimesRecommended %>
</p>
