:root {
	$white: #ffffff;
	$green: #1db954;
	$black: #191414;
}

a {
	color: $green;
}

a:hover {
	color: lighten($color: $green, $amount: 10);
	text-decoration: none;
}

body {
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.75)
    ),
		url("/assets/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: $black;
	color: $white;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

form {
	flex: 1;
}

input {
	border: none;
}

input:hover,
input:active {
	color: lighten($color: $green, $amount: 10);
}