:root {
	$white: #ffffff;
	$green: #1db954;
	$black: #191414;
}

a {
	color: $green;
}

a:hover {
	color: lighten($color: $green, $amount: 10);
	text-decoration: none;
}

body {
	background-color: $black;
	color: $white;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

form {
	flex: 1;
}

input {
	border: none;
}

input:hover,
input:active {
	color: lighten($color: $green, $amount: 10);
}