<div class="row">
	<div class="col-12">
		<%= for (k, messages) in flash { %> <%= for (msg) in messages { %>
		<div class="alert alert-<%= k %> position-absolute mt-5 mb-3" role="alert">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-11">
						<%= msg %>
					</div>
					<div class="col-12 col-md-1 flex-center">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
					</div>
				</div>
			</div>
		</div>
		<% } %> <% } %>
	</div>
</div>
