<header class="row h-60">
	<div class="col-12 text-center flex-center">
		<h1 class="title">ABOUT</h1>
	</div>
</header>

<main class="row mb-5 h-30">
	<!-- ABOUT PROJECT -->
	<article class="container mb-5">
		<header class="col-12 text-center">
			<h2 class="subtitle">ABOUT THIS PROJECT</h2>
		</header>

		<main class="col-12 text-center">
			<p>
				RECOMMMEND is a webapp build using Go, Buffalo, Bootstrap and
				the Spotify API.
			</p>
			<p>
				Looking for ideas for the final project of the CS50 course I was
				watching a video about different APIs when I came up with the
				idea of building a webapp that would allow users around the
				world to recommend their favorite artists and receive
				recommendations from other users. And here we are.
			</p>
			<p>
				This project DOES NOT needs and will not ask you for your
				Spotify username or login credentials. The only thing that's
				stored is the artist you recommend.
			</p>
			<p>
				This project is also Open Source so you can check the code by
				yourself
				<a
					href="https://github.com/danielkvist/recommmend"
					alt="GitHub repository"
					>here</a
				>.
			</p>
		</main>
	</article>

	<!-- ABOUT ME -->
	<article class="container">
		<header class="col-12 text-center">
			<h2 class="subtitle">ABOUT ME - DANIELKVIST</h2>
		</header>

		<main class="col-12 text-center">
			<p>
				First things first: I'm looking for a job as a Junior Go
				Developer. You can find my email on my personal site listed in
				the footer of this project.
			</p>
			<p>
				Hi! I'm Daniel, I'm 25 and I'm living in Spain. Nice to meet
				you!
			</p>
			<p>
				I started coding when I was 15 and since then I have not stopped
				learning more and more. I started learning and working with Go
				on personal projects 2 years and a couple of months ago. Before
				Go I learned basic web technologies (HTML5, CSS3 and ES6),
				VueJS, NodeJS and Python (not much really).
			</p>
			<p>
				If you want to know more about me you can check my
				<a href="https://github.com/danielkvist" alt="GitHub"
					>GitHub profile</a
				>
				or my
				<a href="https://dkvist.com" alt="dkvist.com">personal site</a>.
			</p>
		</main>
	</article>

	<%= partial("back.html") %>
</main>
