<!DOCTYPE html>
  
</body>
</html>

<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, noarchive" />
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= authenticity_token %>" />

    <title>Recommmend</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400&display=swap" rel="stylesheet"> 
    
    <!-- CSS STYLES -->
    <%= stylesheetTag("application.css") %>

    <!-- FAVICON -->
		<link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
	</head>
  
  <body>
		<div class="container">
			<%= partial("flash.html") %> <%= yield %>
		</div>

    <footer class="container">
      <span>Powered by <a href="http://gobuffalo.io/" alt="Buffalo">gobuffalo.io</a></span>
      <span>and <a href="https://spotify.com" alt="Spotify">spotify.com</a>.</span>
      <br>
      <span>Made by <a href="https://dkvist.com" alt="Danielkvist">Danielkvist</a>.</span>
    </footer>

		<%= javascriptTag("application.js") %>
  </body>

</html>
