<header class="row h-60">
	<div class="col-12 text-center flex-center">
		<h1 class="title">RECOMMMEND</h1>
	</div>
</header>

<main class="row mb-5 h-30">
	<!-- DO A RECOMMENDATION -->
	<div class="col-12 col-md-6 flex-center">
		<a
			href="<%= artistsRecommendPath() %>""
			alt="Recommend"
			class="btn btn-primary btn-block px-5"
			role="button"
			aria-disabled="true"
			><%= t("do_recommendation") %></a
		>
	</div>

	<!-- GET A RECOMMENDATION -->
	<div class="col-12 col-md-6 flex-center">
		<a
			href="<%= artistsRecommendedPath() %>""
			alt="Recommendations"
			class="btn btn-primary btn-block px-5"
			role="button"
			aria-disabled="true"
			><%= t("get_recommendation") %></a
			href="<%= artistsRecommendPath() %>""
		>
	</div>
</main>
