<header class="row mt-5">
	<div class="col text-center">
		<h1>RECOMMMEND</h1>
	</div>
</header>

<main class="row mt-5">
	<!-- DO A RECOMMENDATION -->
	<div class="content-center col-6">
		<a
			href="<%= artistsRecommendPath() %>""
			class="btn btn-primary btn-lg"
			role="button"
			aria-disabled="true"
			><%= t("do_recommendation") %></a
		>
	</div>

	<!-- GET A RECOMMENDATION -->
	<div class="content-center col-6">
		<a
			href="#"
			class="btn btn-primary btn-lg"
			role="button"
			aria-disabled="true"
			><%= t("get_recommendation") %></a
		>
	</div>
</main>
